{% extends "layout.twig" %}

{% block body %}
<style media="screen">
.item-detail .row {
  border-bottom: 1px solid rgb(158, 158, 158);
}
.map {
  border: 3px solid rgb(158, 158, 158);
  height: 500px;
  margin-bottom: 20px;
}
.panel-info-window {
  margin-top: 26px;
  margin-left: 26px;
  min-width: 300px;
}
</style>
<div class="container">
  <h3 class="text-center">แผนที่แสดงข้อมูลโดยรวม</h3>
  <div class="text-center">
    <img src="{{ base_url() }}/asset/images/marker/person-marker.png"> ประชากร,
    <img src="{{ base_url() }}/asset/images/marker/group-marker.png"> กลุ่มอาชีพ,
    <img src="{{ base_url() }}/asset/images/marker/lc-marker.png"> ปราชญ์ชาวบ้าน
  </div>
  <hr>
  <div class="map"></div>
</div>
<script type="text/template" id="template-info">
  <div class="panel panel-info panel-info-window">
    <div class="panel-heading">
      <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">

    </div>
  </div>
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLDfQWtqjiEFfVNPa4wGnIEclpx8dcSrU&language=th"></script>
<script type="text/javascript">
(function(){
  "use strict";
  // {lat: 15.231497, lng: 100.213483}

  var templateInfo = $("#template-info").html();

  var mapEl = document.getElementsByClassName("map")[0];
  var map = new google.maps.Map(mapEl, {
    zoom: 7,
    center: {lat: 15.231497, lng: 100.213483}
  });

  var persons = {{ persons|json_encode|raw }};
  var careergroups = {{ careergroups|json_encode|raw }};
  var scholars = {{ scholars|json_encode|raw }};

  persons.forEach(function(item){
    makeMarker(item, "person", "{{ base_url() }}/asset/images/marker/person-marker.png");
  });
  careergroups.forEach(function(item){
    makeMarker(item, "careergroup", "{{ base_url() }}/asset/images/marker/group-marker.png");
  });
  scholars.forEach(function(item){
    makeMarker(item, "scholar", "{{ base_url() }}/asset/images/marker/lc-marker.png");
  });

  function makeMarker(item, type, icon) {
    var position = {lat: parseFloat(item.location_lat), lng: parseFloat(item.location_lng)};
    var title = type=="person"? "ประชากร": (type=="careergroup"? "กลุ่มอาชีพ": "ปราชญ์ชาวบ้าน");
    var desc = type=="person"? item.first_name + ' ' + item.last_name : item.name;

    var marker = new google.maps.Marker({
      position: position,
      map: map,
      title: title
    });

    var $info = $(templateInfo);
    $(".panel-title", $info).text(title);
    $(".panel-body", $info).text(desc);

    var infowindow = new google.maps.InfoWindow({
      content: $info[0]
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
    marker.setIcon(icon);
  }
})();
</script>
{% endblock %}
