{% extends "layout.twig" %}

{% block body %}
<style media="screen">
.item-detail .row {
  border-bottom: 1px solid rgb(158, 158, 158);
}
.map {
  border: 3px solid rgb(158, 158, 158);
  height: 500px;
  margin-bottom: 20px;
}
</style>
<div class="container">
  <h3 class="text-center">แผนที่</h3>
  <div class="text-center">
    <img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png"> ประชากร,
    <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"> กลุ่มอาชีพ,
    <img src="http://maps.google.com/mapfiles/ms/icons/purple-dot.png"> ศูนย์การเรียนรู้
  </div>
  <hr>
  <div class="map"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLDfQWtqjiEFfVNPa4wGnIEclpx8dcSrU&language=th"></script>
<script type="text/javascript">
(function(){
  "use strict";
  // {lat: 15.231497, lng: 100.213483}

  var mapEl = document.getElementsByClassName("map")[0];
  var map = new google.maps.Map(mapEl, {
    zoom: 7,
    center: {lat: 15.231497, lng: 100.213483}
  });

  var persons = {{ persons|json_encode|raw }};
  var careergroups = {{ careergroups|json_encode|raw }};
  var learningcenters = {{ learningcenters|json_encode|raw }};

  persons.forEach(function(person){
    makeMarker(person.location_lat, person.location_lng, "http://maps.google.com/mapfiles/ms/icons/red-dot.png");
  });
  careergroups.forEach(function(person){
    makeMarker(person.location_lat, person.location_lng, "http://maps.google.com/mapfiles/ms/icons/blue-dot.png");
  });
  learningcenters.forEach(function(person){
    makeMarker(person.location_lat, person.location_lng, "http://maps.google.com/mapfiles/ms/icons/purple-dot.png");
  });

  function makeMarker(lat, lng, icon) {
    var marker = new google.maps.Marker({
      position: {lat: parseFloat(lat), lng: parseFloat(lng)},
      map: map,
      title: '{{ item.first_name }} {{ item.last_name }}'
    });
    marker.setIcon(icon);
  }
})();
</script>
{% endblock %}
