{% extends "layout.twig" %}

{% block body %}
<style media="screen">

</style>
<div class="container-fluid">
  <h3 class="text-center">{% block typeTitle %}ประเภทสวัสดิการ{% endblock %}</h3>
  <div class="text-center">
    <!-- <a class="btn btn-info" href="{{ base_url() }}/cripple_type">ประเภทผู้พิการ</a>
    <a class="btn btn-info" href="{{ base_url() }}/disavantaged_type">ประเภทผู้ด้อยโอกาส</a> -->
    <select id="select-type">
      <option value="{{ base_url() }}/person_type">-- ประเภทสวัสดิการ --</option>
      <option value="{{ base_url() }}/cripple_type">ประเภทผู้พิการ</option>
      <option value="{{ base_url() }}/disavantaged_type">ประเภทผู้ด้อยโอกาส</option>
    </select>
  </div>
  <script>
  $(function(){
    var $select = $("#select-type");
    var base = "{{ base_url() }}/";
    $select.val(window.location.href);
    $select.change(function(e){
      var val = $(this).val();
      window.location.href = val;
    });
  });
  </script>
  <hr>
  <div>
    {% block bodyType %}{% endblock %}
  </div>
</div>
{% endblock %}
