{% extends "layout.twig" %}

{% block body %}
<style media="screen">
.item-detail .row {
  border-bottom: 1px solid rgb(158, 158, 158);
}
.map {
  border: 3px solid rgb(158, 158, 158);
  height: 500px;
  margin-bottom: 20px;
}
</style>
<div class="container">
  <h3>ข้อมูลประชากร</h3>
  <div class="item-detail">
    <div class="row">
      <div class="col-md-6">ชื่อ - นามสกุล</div>
      <div class="col-md-6">{{ item.first_name }} {{ item.last_name }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">วันเกิด</div>
      <div class="col-md-6">{{ item.birthdate }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">ที่อยู่</div>
      <div class="col-md-6">{{ item.address }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">หมู่บ้าน</div>
      <div class="col-md-6">{{ item.village }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">ตำบล</div>
      <div class="col-md-6">{{ item.district }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">อำเภอ</div>
      <div class="col-md-6">{{ item.city }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">จังหวัด</div>
      <div class="col-md-6">{{ item.province }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">รหัสไปรษณีย์</div>
      <div class="col-md-6">{{ item.zipcode }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">ผู้สูงอายุ</div>
      <div class="col-md-6">{{ item.is_older ? 'Yes': 'No' }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">ผู้พิการ</div>
      <div class="col-md-6">
        {% if item.cripple|length ==0 %}-{% endif %}
        {% for cripple in item.cripple %}
        <div>{{ cripple.name ~'('~ cripple.allowance ~' บาท)' }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">ผู้ด้อยโอกาศ</div>
      <div class="col-md-6">
      {% if item.disavantaged|length ==0 %}-{% endif %}
      {% for disavantaged in item.disavantaged %}
      <div>{{ disavantaged.name ~'('~ disavantaged.allowance ~' บาท)' }}</div>
      {% endfor %}
    </div>
    </div>
    <div class="row">
      <div class="col-md-6">ปราชญ์ชาวบ้าน</div>
      <div class="col-md-6">
      {% if item.scholar|length ==0 %}-{% endif %}
      {% for scholar in item.scholar %}
      <div>{{ scholar.name ~'('~ scholar.allowance ~' บาท)' }}</div>
      {% endfor %}
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <strong>แผนที่</strong>
        </div>
        <div class="map"></div>
      </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLDfQWtqjiEFfVNPa4wGnIEclpx8dcSrU&language=th"></script>
<script type="text/javascript">
(function(){
  "use strict";
  // {lat: 15.231497, lng: 100.213483}

  var latLng = {lat: {{ item.location_lat }}, lng: {{ item.location_lng }}};
  var mapEl = document.getElementsByClassName("map")[0];
  var map = new google.maps.Map(mapEl, {
    center: latLng,
    zoom: 10
  });

  var marker = new google.maps.Marker({
    position: latLng,
    map: map,
    title: '{{ item.first_name }} {{ item.last_name }}'
  });
})();
</script>
{% endblock %}
