{% extends "layout.twig" %}

{% block body %}
<div class="container-fluid">
  <h3>ค้นหาข้อมูลรายบุคคล</h3>
  <hr>
  <form style="max-width: 100%;">
    <div class="row">
      <div class="form-group col-md-3">
        <label>ผู้สูงอายุ</label><br>
        <select class="form-control" name="is_older">
          <option value="">--เลือกผู้สูงอายุ--</option>
          <option value="0" {% if form.is_older == '0' %}selected{% endif %}>ไม่ใช่ผู้สูงอายุ</option>
          <option value="1" {% if form.is_older == '1' %}selected{% endif %}>เฉพาะผู้สูงอายุ</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>ผู้พิการ</label>
        <select class="form-control" name="cripple_id">
          <option value="">--เลือกผู้พิการ--</option>
          {% for cripple in cripples %}
          <option value="{{ cripple.id }}" {% if form.cripple_id == cripple.id %}selected{% endif %}>{{ cripple.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>ผู้ด้อยโอกาส</label>
        <select class="form-control" name="disa_id">
          <option value="">--เลือกผู้ด้อยโอกาส--</option>
          {% for disavantaged in disavantageds %}
          <option value="{{ disavantaged.id }}" {% if form.disa_id == disavantaged.id %}selected{% endif %}>{{ disavantaged.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-3">
        <label class="text-center">คำค้น</label>
        <input class="form-control" type="text" name="keyword" value="{{ form.keyword }}">
      </div>
      <div class="form-group col-md-12">
        <!-- <label style="color: transparent;">ค้นหา</label> -->
        <button class="form-control btn btn-info" type="submit">ค้นหา</button>
      </div>
    </div>
  </form>
  <hr {% if items|length == 0 %} class="hidden"{% endif %}>
  <table class="table table-bordered {% if items|length == 0 %}hidden{% endif %}">
    <tr>
      <!-- <th class="text-center">id</th> -->
      <th class="text-center">เลขที่บัตรประชาชน</th>
      <th class="text-center">ชื่อ</th>
      <th class="text-center">อายุ</th>
      <th class="text-center">เสียชีวิตเมื่อ</th>
      <th class="text-center">ลงทะเบียนเมื่อ</th>
      <th class="text-center">ผู้สูงอายุ</th>
      <th class="text-center">ผู้พิการ</th>
      <th class="text-center">ผู้ด้อยโอกาส</th>
      <th class="text-center">เบี้ยยังชีพรวม</th>
      {% if login.get("user").level in ["admin", "staff"] %}
      <th></th>
      {% endif %}
    </tr>
    {% for item in items %}
    <tr>
      <!-- <td class="text-center">{{ item.id }}</td> -->
      <td class="text-center">{{ item.card_id }}</td>
      <td><a href="{{ base_url() }}/person/{{ item.id }}">{{ item.first_name }} {{ item.last_name }}</a></td>
      <td>{{ item.age }}</td>
      <td class="text-center">{{ item.die_date==null? '-': item.die_date|date("d/m/Y") }}</td>
      <td class="text-center">{{ item.reg_date==null? '-': item.reg_date|date("d/m/Y") }}</td>
      <td class="text-center"><span class="badge">{{ item.is_older ? 'Yes': 'No' }}</span></td>
      <td>
        {% for cripple in item.cripple %}
        <div>{{ cripple.name }}</div>
        {% endfor %}
      </td>
      <td>
        {% for disavantaged in item.disavantaged %}
        <div>{{ disavantaged.name }}</div>
        {% endfor %}
      </td>
      <td class="text-center">{{ item.total_allowance|number_format }}</td>
      {% if login.get("user").level in ["admin", "staff"] %}
      <td>
        <a href="{{ base_url() }}/person/edit/{{ item.id }}"><i class="glyphicon glyphicon-pencil"></i></a>
        <a class="remove-btn" href="{{ base_url() }}/person/remove/{{ item.id }}"><i class="glyphicon glyphicon-remove"></i></a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>

  <ul class="pagination {% if items|length == 0 %}hidden{% endif %}">
    {% if page > 1 %}
    <li>
      <a href="{{ base_url() }}/person?{{ form|merge({ 'page': page-1 })|url_encode }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for i in range(1, maxPage) %}
    <li><a href="{{ base_url() }}/person?{{ form|merge({ 'page': i })|url_encode }}">{{ i }}</a></li>
    {% endfor %}
    {% if maxPage > page %}
    <li>
      <a href="{{ base_url() }}/person?{{ form|merge({ 'page': page+1 })|url_encode }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
{% endblock %}
