{% extends "layout.twig" %}

{% block body %}
<div class="container-fluid">
  <h3>สวัสดิการชุมชน <a class="btn btn-success btn-add" href="{{ base_url() }}/person/add">เพิ่มสวัสดิการชุมชน</a></h3>
  <hr>
  <form>
    <div class="row">
      <div class="form-group col-md-3">
        <label>ผู้สูงอายุ</label><br>
        <select class="form-control" name="is_older">
          <option value="">--เลือกผู้สูงอายุ--</option>
          <option value="0" {% if form.is_older == '0' %}selected{% endif %}>ไม่ใช่ผู้สูงอายุ</option>
          <option value="1" {% if form.is_older == '1' %}selected{% endif %}>เฉพาะผู้สูงอายุ</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>ผู้พิการ</label>
        <select class="form-control" name="cripple_id">
          <option value="">--เลือกผู้พิการ--</option>
          {% for cripple in cripples %}
          <option value="{{ cripple.id }}" {% if form.cripple_id == cripple.id %}selected{% endif %}>{{ cripple.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>ผู้ด้อยโอกาศ</label>
        <select class="form-control" name="disa_id">
          <option value="">--เลือกผู้ด้อยโอกาศ--</option>
          {% for disavantaged in disavantageds %}
          <option value="{{ disavantaged.id }}" {% if form.disa_id == disavantaged.id %}selected{% endif %}>{{ disavantaged.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>ปราชญ์ชาวบ้าน</label>
        <select class="form-control" name="scho_id">
          <option value="">--เลือกปราชญ์ชาวบ้าน--</option>
          {% for scholar in scholars %}
          <option value="{{ scholar.id }}" {% if form.scho_id == scholar.id %}selected{% endif %}>{{ scholar.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-3">
        <label class="text-center">คำค้น</label>
        <input class="form-control" type="text" name="keyword" value="{{ form.keyword }}">
      </div>
      <div class="form-group col-md-3">
        <label style="color: transparent;">ค้นหา</label>
        <button class="form-control btn btn-info" type="submit">ค้นหา</button>
      </div>
    </div>
  </form>
  <hr>
  <table class="table table-bordered">
    <tr>
      <!-- <th class="text-center">id</th> -->
      <th class="text-center">เลขที่บัตรประชาชน</th>
      <th class="text-center">ชื่อ</th>
      <th class="text-center">อายุ</th>
      <th class="text-center">เสียชีวิตเมื่อ</th>
      <th class="text-center">ลงทะเบียนเมื่อ</th>
      <th class="text-center">ผู้สูงอายุ</th>
      <th class="text-center">ผู้พิการ</th>
      <th class="text-center">ผู้ด้อยโอกาศ</th>
      <th class="text-center">ปราชญ์ชาวบ้าน</th>
      <th class="text-center">เบี้ยยังชีพรวม</th>
      <th></th>
    </tr>
    {% for item in items %}
    <tr>
      <!-- <td class="text-center">{{ item.id }}</td> -->
      <td class="text-center">{{ item.card_id }}</td>
      <td><a href="{{ base_url() }}/person/{{ item.id }}">{{ item.first_name }} {{ item.last_name }}</a></td>
      <td>{{ item.age }}</td>
      <td class="text-center">{{ item.die_date==null? '-': item.die_date|date("d/m/Y") }}</td>
      <td class="text-center">{{ item.reg_date==null? '-': item.reg_date|date("d/m/Y") }}</td>
      <td class="text-center"><span class="badge">{{ item.is_older ? 'Yes': 'No' }}</span></td>
      <td>
        {% for cripple in item.cripple %}
        <div>{{ cripple.name }}</div>
        {% endfor %}
      </td>
      <td>
        {% for disavantaged in item.disavantaged %}
        <div>{{ disavantaged.name }}</div>
        {% endfor %}
      </td>
      <td>
        {% for scholar in item.scholar %}
        <div>{{ scholar.name }}</div>
        {% endfor %}
      </td>
      <td class="text-center">{{ item.total_allowance|number_format }}</td>
      <td>
        <a href="{{ base_url() }}/person/edit/{{ item.id }}"><i class="glyphicon glyphicon-pencil"></i></a>
        <a class="remove-btn" href="{{ base_url() }}/person/remove/{{ item.id }}"><i class="glyphicon glyphicon-remove"></i></a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
