<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>GIS</title>
  <link rel="stylesheet" href="{{ base_url() }}/asset/bootstrap/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="{{ base_url() }}/asset/bootstrap/css/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="{{ base_url() }}/asset/bootstrap/css/bootstrap-united.min.css">
  <link rel="stylesheet" href="{{ base_url() }}/asset/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
  <link rel="stylesheet" href="{{ base_url() }}/asset/css/main.css">

  <script type="text/javascript" src="{{ base_url() }}/asset/jquery/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="{{ base_url() }}/asset/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ base_url() }}/asset/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="{{ base_url() }}/asset/bootstrap-datepicker/js/bootstrap-datepicker-thai.js"></script>
  <script type="text/javascript" src="{{ base_url() }}/asset/bootstrap-datepicker/locales/bootstrap-datepicker.th.min.js"></script>
  <script type="text/javascript" src="{{ base_url() }}/asset/js/main.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% if login.get("user").level in ['admin', 'staff', 'user'] %}<li><a href="{{ base_url() }}/person">จัดการข้อมูลรายบุคคล</a></li>{% endif %}
          {% if login.get("user").level in ['admin', 'staff', 'user'] %}<li><a href="{{ base_url() }}/person_search">ค้นหาข้อมูลรายบุคคล</a></li>{% endif %}
          {% if login.get("user").level in ['admin', 'staff', 'user'] %}<li><a href="{{ base_url() }}/careergroup">จัดการข้อมูกลุ่มอาชีพ</a></li>{% endif %}
          {% if login.get("user").level in ['admin', 'staff', 'user'] %}<li><a href="{{ base_url() }}/scholar">จัดการข้อมูปราชญ์ชาวบ้าน</a></li>{% endif %}
          <!-- <li><a href="{{ base_url() }}/learningcenter">ศูนย์การเรียนรู้</a></li> -->
          <!-- {% if login.get("user").level in ['admin', 'staff', 'user'] %}<li><a href="{{ base_url() }}/map">แผนที่</a></li>{% endif %} -->
          {% if login.get("user").level in ['admin', 'staff', 'user'] %}<li><a href="{{ base_url() }}/report">รายงาน</a></li>{% endif %}
          {% if login.get("user").level in ['admin', 'staff'] %}<li><a href="{{ base_url() }}/person_type">ประเภทสวัสดิการ</a></li>{% endif %}
          <!-- {% if login.get("user").level in ['admin', 'staff'] %}<li><a href="{{ base_url() }}/disavantaged_type">ประเภทผู้ด้อยโอกาส</a></li>{% endif %} -->
          {% if login.get("user").level in ['admin'] %}<li><a href="{{ base_url() }}/account">ผู้ใช้งาน</a></li>{% endif %}
          <!-- <li><a href="{{ base_url() }}/scholar_type">ประเภทปราชญ์ชาวบ้าน</a></li> -->
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li role="presentation" class="dropdown pull-right">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              {{ login.get("user").name }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{ base_url() }}/logout">ออกจากระบบ</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="body">
  {% block body %}{% endblock %}
  <div>
</body>
</html>
