{% extends "layout.twig" %}

{% block body %}
<div class="container-fluid">
  <h3>จัดการข้อมูลกลุ่มอาชีพ <a class="btn btn-success btn-add" href="{{ base_url() }}/careergroup/add">เพิ่มกลุ่มอาชีพ</a></h3>
  <hr>

  <table class="table table-bordered">
    <tr>
      <!-- <th class="text-center">id</th> -->
      <th class="text-center">ชื่อ</th>
      <th class="text-center">ชื่อผู้ติดต่อ</th>
      <th class="text-center">นามสกุล</th>
      <th class="text-center">เบอร์โทรศัพท์ผู้ติดต่อ</th>
      {% if login.get("user").level in ["admin", "staff"] %}
      <th></th>
      {% endif %}
    </tr>
    {% for item in items %}
    <tr>
      <!-- <td class="text-center">{{ item.id }}</td> -->
      <td><a href="{{ base_url() }}/careergroup/{{ item.id }}">{{ item.name }}</a></td>
      <td class="text-center">{{ item.contact_firstname }}</td>
      <td class="text-center">{{ item.contact_lastname }}</td>
      <td class="text-center">{{ item.contact_phone }}</td>
      {% if login.get("user").level in ["admin", "staff"] %}
      <td>
        <a href="{{ base_url() }}/careergroup/edit/{{ item.id }}"><i class="glyphicon glyphicon-pencil"></i></a>
        <a class="remove-btn" href="{{ base_url() }}/careergroup/remove/{{ item.id }}"><i class="glyphicon glyphicon-remove"></i></a>
      </td>
    {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
