{% extends "layout.twig" %}

{% block body %}
<div class="container-fluid">
  <h3>กลุ่มอาชีพ <a href="{{ base_url() }}/careergroup/add"><i class="glyphicon glyphicon-plus-sign"></i></a></h3>

  <table class="table table-bordered">
    <tr>
      <th class="text-center">id</th>
      <th class="text-center">ชื่อ</th>
      <th></th>
    </tr>
    {% for item in items %}
    <tr>
      <td class="text-center">{{ item.id }}</td>
      <td><a href="{{ base_url() }}/careergroup/{{ item.id }}">{{ item.name }}</a></td>
      <td>
        <a href="{{ base_url() }}/careergroup/edit/{{ item.id }}"><i class="glyphicon glyphicon-pencil"></i></a>
        <a class="remove-btn" href="{{ base_url() }}/careergroup/remove/{{ item.id }}"><i class="glyphicon glyphicon-remove"></i></a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
